<template>
  <div class="hello">
    <img :src="assets(compileData.img)" @click="$emit('click', !value)">
    <h1>{{ compileData.msg }}</h1>
  </div>
</template>

<script>
export default {
  name: 'BtnMedved',
  props: ['value'],
  computed: {
    compileData() {
      return this.value ? {
        img: 'bear.svg',
        msg: 'MEDVED',
      } : {
        img: 'hello.svg',
        msg: 'PREVED',
      };
    },
  },
  methods: {
    assets(name) {
      return require(`../assets/${name}`);
    },
  },
};
</script>
<style scoped lang="scss">
  .hello {
    img {
      height: 300px;
      cursor: pointer;
    }
    h1 {
      user-select: none;
    }
  }

</style>
