<template>
  <div id="app">
    <BtnMedved :value="statusBool" @click="changeValue"/>
  </div>
</template>

<script>
import BtnMedved from './components/BtnMedved.vue';

export default {
  name: 'app',
  components: {
    BtnMedved,
  },
  data() {
    return {
      status: 1,
    };
  },
  computed: {
    statusBool() {
      return !!this.status;
    },
  },
  methods: {
    changeValue(e) {
      this.status = +e;
      this.$socket.sendObj({ state: +e });
    },
  },
  mounted() {
    this.$options.sockets.onmessage = data => this.status = JSON.parse(data.data).state;
  },
};
</script>

<style lang="scss">
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
